@model IEnumerable<Personaltool.Models.Person>

<table class="table table-hover table-searchable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonsMemberStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonsCareerLevels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonsPositions)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @foreach (PersonsMemberStatus personsMemberStatus in item.PersonsMemberStatus.Where(x => x.End is null))
                {
                    @personsMemberStatus.MemberStatus.Name<br />
                }
            </td>
            <td>
                @foreach (PersonsCareerLevel personsCareerLevel in item.PersonsCareerLevels.Where(x => x.End is null))
                {
                    @personsCareerLevel.CareerLevel.Name<br />
                }
            </td>
            <td>
                @foreach (PersonsPosition personsPosition in item.PersonsPositions.Where(x => x.End is null))
                {
                    @personsPosition.Position.Name<br />
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersonID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PersonID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
