@model IEnumerable<MemberStatus>


<h2>Mitgliederstatus - Übersicht</h2>

<p>Hallo. Hier folgt später die Liste. Work in Progress.</p>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MemberStatusID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Anzahl der Personen
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemberStatusID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @item.PersonsMemberStatus.Where(x => x.End == null).Count()
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MemberStatusID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MemberStatusID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MemberStatusID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>